Package: retro
Version: 11.2
Description: Concatenative, stack based language with roots in Forth.
Maintainer: Brian Callahan <bcallah@devio.us>
License: ISC
Architecture: mipsel
Installed-Size: 360392
