work
*.o
*.Po
*.0
benchmarks/dhrystone/dhry
benchmarks/linpack/linpack
benchmarks/whetstone/whetstone
comms/zmtx-zmrx/zmrx
comms/zmtx-zmrx/zmtx
devel/gmake/make
editors/atto/atto
editors/ce/ce
editors/dhex/dhex
editors/ee/ee
editors/heme/heme
editors/levee/levee
editors/nano/nano
editors/sandy/sandy
editors/sre/sre
editors/traditional-vi/ex
editors/traditional-vi/expreserve
editors/traditional-vi/exrecover
games/cpat/cpat
lang/forth/forth
lang/fpp/fpp
lang/mawk/mawk
lang/pforth/pf_cglue.eo
lang/pforth/pf_clib.eo
lang/pforth/pfcompil.eo
lang/pforth/pf_core.eo
lang/pforth/pfcustom.eo
lang/pforth/pf_inner.eo
lang/pforth/pf_io.eo
lang/pforth/pf_io_none.eo
lang/pforth/pf_io_posix.eo
lang/pforth/pf_main.eo
lang/pforth/pf_mem.eo
lang/pforth/pforth
lang/pforth/pforth_standalone
lang/pforth/pf_save.eo
lang/pforth/pf_text.eo
lang/pforth/pf_words.eo
net/cgo/cgo
net/httpsrv/httpsrv
net/icb/icb
net/ii/ii
shells/sash/sash
sysutils/arch/arch
sysutils/dired/dired
sysutils/less/less
sysutils/lsx/lsx
sysutils/multitail/multitail
sysutils/screen/screen
textproc/dos2unix/dos2unix
textproc/dos2unix/mac2unix
textproc/dos2unix/unix2dos
textproc/dos2unix/unix2mac
www/httpsrv/httpsrv
