Package: elvis
Version: 1.4
Description: Another vi/ex clone.
Maintainer: Brian Callahan <bcallah@devio.us>
License: Freely redistributable; no restrictions on use
Architecture: mipsel
Installed-Size: 208098
