Package: arch
Version: 20151221
Description: Simple program from OpenBSD that prints the host's CPU architecture.
Maintainer: Brian Callahan <bcallah@devio.us>
License: BSD
Architecture: mipsel
Installed-Size: 65592
